.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  label {
    position: absolute;
    background: #ffffff;
    top: -10px;
    left: 20px;
    padding: 0px 10px;
  }

  input {
    border: 1px solid #083d93;
    border-radius: 10px;
    padding: 20px 13px;
    width: 100%;
    background: transparent;

    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #a7a2a2;
    }
  }
}
