.welcome {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);

  h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #06438a;
  }

  h2 {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #06438a;
  }
}
